<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Kibreet requires access to the photo library to send car photos </string>
	<key>NFCReaderUsageDescription</key>
	<string>Kibreet need to acces NFC to be able to read cards</string>
</dict>
</plist>
